title = "profile"
url = "/profile/:id"
layout = "profile"
is_hidden = 0

[member]

[system]
==
<?php
function onStart() {
    $this['hello'] = "Hello world!";
}
?>
==
{% set member = record %}
{% set gallerys = member.gallery %}
<main id="sb-site" class="main_content">
	<div class="pt bg_x1">
		<p class="pan tx_c2"><a href="{{'top'|app}}" class="tx_u1">{{record.address}} {{record.name}}</a> ≫ <a href="{{'top'|app}}" class="tx_u1">トップページ</a> ≫ <a href="{{'staff'|app}}" class="tx_u1">在籍一覧</a> ≫ <span class="tx_u1">プロフィール:{{member.name}}</span></p>
		<h2 class="page_title bd_i tx_b2"><em class="font1 bd_j tx_a2"><span title="PROFILE" class="bg_r1">PROFILE</span></em><br>プロフィール:{{member.name}}</h2>
	</div>
	<div id="cnt">
		<div id="prof">
			<div class="inpage_box bg_j1">
				<div class="prof_top">
					<div class="prof_top_l">
						<div id="sliderContainer" class="bg_com">
							<div id="flame" class="bd_m">
								<ul id="slider" class="bxslider">
									{% for gallery in gallerys %}
									<li class="slide"><img src="{{gallery.path}}" alt=""></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="prof_top_r">
						<div class="pbox_in name_bg bd_h bg_v1 bounceIn wow" data-wow-delay=".1s">
							<div class="name bd_a sd_a bg_f2">
								<h2 class="tx_e1">
									{% if member.is_new %}
									<span class="icon bg_m1">NEWFACE</span>
									{% endif %}
									{{member.name}}
								</h2>
								<p class="bg_c2"><em class="tx_w1">年齢.</em>{{member.age}}歳 <em class="tx_w1">T.</em>{{member.top}}cm <em class="tx_w1">B.</em>{{member.bust}}cm(C) <em class="tx_w1">W.</em>{{member.waist}}cm <em class="tx_w1">H.</em>{{member.hip}}cm</p>
							</div>
						</div>
						<div class="pbox_in op_bg bd_h bg_v1">
							<div class="op">
								<ul>
									{% for recommend_service in recommend_services %}
										{% if recommend_service.is_selected %}
											<li class="ok bounceIn wow" data-wow-delay=".2s">{{recommend_service.name}}</li>
										{% else %}
											<li class="ng bounceIn wow" data-wow-delay=".2s">{{recommend_service.name}}</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="pbox_in bd_h bg_v1">
							<div class="sche bounceIn wow" data-wow-delay=".1s">
								<ul>
									<li class="bd_e">
										<div class="sche_th bg_p1 bd_e tx_w1">{{member.monday_date}}</div>
										<div class="sche_td bd_e">{{member.monday|raw}}</div>
									</li>

									<li class="bd_e">
										<div class="sche_th bg_p1 bd_e tx_w1">{{member.tuesday_date}}</div>
										<div class="sche_td bd_e">{{member.tuesday|raw}}</div>
									</li>
									<li class="bd_e">
										<div class="sche_th bg_p1 bd_e tx_w1">{{member.wednesday_date}}</div>
										<div class="sche_td bd_e">{{member.wednesday|raw}}</div>
									</li>
									<li class="bd_e">
										<div class="sche_th bg_p1 bd_e tx_w1">{{member.thursday_date}}</div>
										<div class="sche_td bd_e">{{member.thursday|raw}}</div>
									</li>
									<li class="bd_e">
										<div class="sche_th bg_p1 bd_e tx_w1">{{member.friday_date}}</div>
										<div class="sche_td bd_e">{{member.friday|raw}}</div>
									</li>
									<li class="bd_e">
										<div class="sche_th bg_p1 bd_e tx_w1">{{member.saturday_date}}</div>
										<div class="sche_td bd_e">{{member.saturday|raw}}</div>
									</li>
									<li class="bd_e">
										<div class="sche_th bg_p1 bd_e tx_w1">{{member.sunday_date}}</div>
										<div class="sche_td bd_e">{{member.sunday|raw}}</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% if member.video %}
			<div class="inpage_box bg_j1">
				<div class="pbox bd_h bg_v1">
					<div class="data_bg bd_h">
						<div class="data">
<!--							<div class="data_l">-->
								<video style="display: inline-block;height: auto;max-width: 100%;" src="{{ ''|app }}/storage/app/media/{{member.video}}" autoplay="autoplay" controls="controls" poster="http://heroine.local.com/modules/backend/widgets/mediamanager/assets/images/video-poster.png">
									<div class="panel media-player-fallback">Your browser doesn't support HTML5 video.</div>
								</video>
<!--							</div>-->
							<div class="data_r bounceInRight wow" data-wow-delay=".2s">
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="inpage_box bg_j1">
				<div class="pbox bd_h bg_v1">
					<div class="data_bg bd_h">
						<div class="data">
							<div class="data_l">
								<table cellpadding="0" cellspacing="0" border="0" summary="data">
									{% for service in services %}
										{% if recommend_service.is_selected %}
											<tr class="bounceInLeft wow" data-wow-delay=".1s">
												<th class="tx_w1 bd_e">{{service.name}}</th>
												<td class="bd_e">〇</td>
											</tr>
										{% else %}
											<tr class="bounceInLeft wow" data-wow-delay=".1s">
												<th class="tx_w1 bd_e">{{service.name}}</th>
												<td class="bd_e">✖</td>
											</tr>
										{% endif %}
									{% endfor %}
								</table>
							</div>
							<div class="data_r bounceInRight wow" data-wow-delay=".2s">
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% partial 'shop_info' %}
	</div>
	{% partial 'page_top' %}
</main>