title = "Schedule"
url = "/schedule/:week?"
layout = "schedule"
is_hidden = 0

[members]

[system]
==
<?php
function onStart() {
    $this['week'] = $this->param("week");
	if(empty($this['week'])){
		$this['week'] = date('w');
	}
}
?>
==
<main id="sb-site" class="main_content">
	<div class="pt bg_x1">
		<p class="pan tx_c2"><a href="{{'top'|app}}" class="tx_u1">{{record.address}} {{record.name}}</a> ≫ <a href="{{'top'|app}}" class="tx_u1">トップページ</a> ≫ <span class="tx_u1">スケジュール</span></p>
		<h2 class="page_title bd_i tx_b2"><em class="font1 bd_j tx_a2"><span title="SCHEDULE" class="bg_r1">SCHEDULE</span></em><br>スケジュール</h2>
	</div>
	<div id="cnt" class="bg_j1">
		<div id="day_select">
			<ul>
				{% for time in times %}

					{% if time.2 == week %}
						<li><div class="bg_k1 tx_x1">{{time.0}}日<br><em>{{time.1|raw}}</em></div></li>
					{% else %}
						<li><a href="{{'schedule'|app}}/{{time.2}}" class="bg_p1 tx_u1">{{time.0}}日<br><em>{{time.1}}</em></a></li>
					{% endif %}
				{% endfor %}
				<!--<li><div class="bg_k1 tx_x1">4日<br><em>火曜</em></div></li>
				<li><a href="https://www.sakazakiya.net/schedule/day1/" class="bg_p1 tx_u1">5日<br><em>水曜</em></a></li>
				<li><a href="https://www.sakazakiya.net/schedule/day2/" class="bg_p1 tx_u1">6日<br><em>木曜</em></a></li>
				<li><a href="https://www.sakazakiya.net/schedule/day3/" class="bg_p1 tx_u1">7日<br><em>金曜</em></a></li>
				<li><a href="https://www.sakazakiya.net/schedule/day4/" class="bg_p1 tx_u1">8日<br><em><font class="sat">土曜</font></em></a></li>
				<li><a href="https://www.sakazakiya.net/schedule/day5/" class="bg_p1 tx_u1">9日<br><em><font class="sun">日曜</font></em></a></li>
				<li><a href="https://www.sakazakiya.net/schedule/day6/" class="bg_p1 tx_u1">10日<br><em>月曜</em></a></li>-->
			</ul>
		</div>
		<div id="schedule" class="sche_b">
			<ul>
				{% for schedule in members %}
				<li class="bg_com bounceIn wow" data-wow-delay=".1s">
					<div class="img">
						<a href="{{ 'profile'|app }}/{{schedule.id}}" class="fade">
							<img src="https://www.sakazakiya.net/img/all/loader.png" data-original="{{schedule.album.path}}" class="lazy" alt="{{schedule.name}}">
						</a>
						{% if schedule.is_new %}
						<span class="icon bg_m1">NEWFACE</span>
						{% endif %}
					</div>
					<div class="txt">
						<a href="{{ 'profile'|app }}/{{schedule.id}}">{{schedule.name}}</a><br class="pc_no"><em class="sp_no"> / </em>{{schedule.age}}歳<br class="sp_no">
						{{schedule.top}}cm<em class="sp_no">-</em><br class="pc_no">{{schedule.bust}}(C)-{{schedule.waist}}-{{schedule.hip}}<br>
					</div>
					<p class="s_on bg_v1">{{schedule.current_open_houe}}</p>
				</li>
				{% endfor %}
			</ul>
			</ul>
		</div>
		{% partial 'shop_info' %}
	</div>
	{% partial 'page_top' %}
</main>