title = "staff"
url = "/staff"
layout = "staff"
is_hidden = 0

[members]

[system]
==
<main id="sb-site" class="main_content">
	<div class="pt bg_x1">
		<p class="pan tx_c2"><a href="{{'index'|app}}" class="tx_u1">{{record.address}} {{record.name}}</a> ≫ <a href="{{'top'|app}}" class="tx_u1">トップページ</a> ≫ <span class="tx_u1">スケジュール</span></p>
		<h2 class="page_title bd_i tx_b2"><em class="font1 bd_j tx_a2"><span title="SCHEDULE" class="bg_r1">SCHEDULE</span></em><br>スケジュール</h2>
	</div>
	<div id="cnt" class="bg_j1">
		<div id="companion">
			<ul>
				{% for member in members %}
				<li class="bg_com bounceIn wow" data-wow-delay=".1s">
					<div class="img">
						<a href="{{'profile'|app}}/{{member.id}}" class="fade">
							<img src="https://www.sakazakiya.net/img/all/loader.png" data-original="{{member.album.path}}" width="190" height="253" class="lazy" alt="松月(小潔)">
						</a>
						{% if schedule.is_new %}
						<span class="icon bg_m1">NEWFACE</span>
						{% endif %}
					</div>
					<div class="txt">
						<a href="{{'profile'|app}}/{{member.id}}">{{member.name}}</a><br class="pc_no"><em class="sp_no"> / </em>{{member.age}}歳 <br class="sp_no">{{member.age}}cm<em class="sp_no">-</em><br class="pc_no">{{member.bust}}-{{member.waist}}-{{member.hip}}<br>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% partial 'shop_info' %}
	</div>
	{% partial 'page_top' %}
</main>