title = "Top"
url = "/top"
layout = "top"
is_hidden = 0

[members]

[system]
==
<?php
function onStart() {
    $this->addCss('assets/top/sp_jquery.bxslider.css');
    $this->addCss('assets/top/style.css');
    $this->addCss('assets/css/all.css');
}
?>
==
{% set members = members %}
<main id="sb-site" class="main_content">
  <div id="cnt">
    <div class="toppage_box bg_j1">
      <div id="schedule" class="bounceInLeft wow" data-wow-delay=".1s">
        <h2 class="title bg_f2 sd_a bd_a tx_e1"><em title="TODAY’S SCHEDULE" class="font1 tx_d1">TODAY’S SCHEDULE</em><br>
          本日の出勤</h2>
        <div class="sche_in bd_h bg_v1">
          <ul id="bxslider_sche">
		    {% for member in members %}
            <li class="slide bg_com">
              	<div class="img">
			  		<a href="{{'profile'|app}}/{{member.id}}" class="fade"> <img src="{{member.album.path}}" alt="{{member.name}}"> </a>
					{% if member.is_new %}
					<span class="icon bg_m1">NEWFACE</span>
					{% endif %}
				</div>
              <div class="txt"> <a href="{{'profile'|app}}/{{member.id}}">{{member.name}}</a><br>
              </div>
              <p class="s_on bg_v1">{{member.current_open_houe}}</p>
            </li>
			{% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div id="shopinfo_bg" class="toppage_box bg_j1">
      <div id="shopinfo" class="bd_h bg_v1 bounceInUp wow" data-wow-delay=".1s">
        <h3 class="tx_w1">{{system.address}}  {{system.name}}</h3>
        <ul>
          <li class="bd_e">
            <div class="sibox">
              <div class="sibox_l tx_w1">業種</div>
              <div class="sibox_r">デリヘル</div>
            </div>
          </li>
          <li class="bd_e">
            <div class="sibox">
              <div class="sibox_l tx_w1">住所</div>
              <div class="sibox_r">{{system.travel_start_poine}}[<a href="{{'access'|app}}">アクセスマップ</a>]</div>
            </div>
          </li>
          <li class="bd_e">
            <div class="sibox">
              <div class="sibox_l tx_w1">発エリア</div>
              <div class="sibox_r">{{system.travel_start_poine}}</div>
            </div>
          </li>
          <li class="bd_e">
            <div class="sibox">
              <div class="sibox_l tx_w1">出張範囲</div>
              <div class="sibox_r">{{system.travel_scope}}</div>
            </div>
          </li>
          <li class="bd_e">
            <div class="sibox">
              <div class="sibox_l tx_w1">営業時間</div>
              <div class="sibox_r">{{system.open_hour}}</div>
            </div>
          </li>
          <li class="bd_e">
            <div class="sibox">
              <div class="sibox_l tx_w1">定休日</div>
              <div class="sibox_r">年中無休</div>
            </div>
          </li>
        </ul>
        <div class="sibt"> <a href="tel:{{system.tel}}" class="stel tx_u1 bg_i1 bd_e"> <span></span> <em class="tx_v1">{{system.tel}}</em><br>
          お店への電話はこちら </a>  </div>
      </div>
    </div>
  </div>
  {% partial 'page_top' %}
</main>