
/* ==============================================================================
    CSS for touch-screen : common.css
============================================================================== */

/* ----------------------------------------------------------
  Common Settings : css-reset
---------------------------------------------------------- */
html{
font-family		: Meiryo,'Hiragino Kaku Gothic ProN','Hiragino Sans',sans-serif;
overflow-y:scroll;
-webkit-text-size-adjust:none;
-webkit-font-smoothing: antialiased;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
}

body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,form,fieldset,legend,input,textarea,pre,code,blockquote,th,td{
margin:0;
padding:0;
}

div,h2,h3,h4,h5,h6,p,li,dt,dd,pre,code,blockquote,th,td{
word-break:break-all;
}

br{
letter-spacing:0;
}

fieldset,img{
border:0;
}

li{
list-style:none;
}

caption,th{
text-align:left;
}

h1,h2,h3,h4,h5,h6,th{
font-size:100%;
font-weight:normal;
font-style:normal;
}

input,textarea,select{
font-family:inherit;
font-size:inherit;
font-weight:inherit;
color:#333;
}

input[type="submit"]{
cursor:pointer;
}

select{
background-color:#ffffff !important;
}

address,caption,cite,code,dfn,var{
font-style:normal;
font-weight:normal;
}

abbr,acronym{
border:0;
font-variant:normal;
}

del,u{
text-decoration:none;
}

/*=================================================
 * CSS MAIN
 * ================================================= */

body{
	text-align	: center;
	font-size	: 12px;
	line-height	: 16px;
	font-family		: Meiryo,'Hiragino Kaku Gothic ProN','Hiragino Sans',sans-serif;
    -webkit-text-size-adjust: 100%;
	scrollbar-face-color: #ffffff;
	scrollbar-3dlight-color: #553f09;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #ffffff;
	scrollbar-darkshadow-color: #553f09;
	scrollbar-arrow-color: #553f09;
	scrollbar-track-color: #ffffff;
	-webkit-font-smoothing: subpixel-antialiased;
}

a{
	text-decoration	: none;
}

a:hover{
	text-decoration	: underline;
}

h1,h2,h3{
	font-size	: 13px;
}

ul{
	list-style-type	: none;
}

li{
	margin		: 0px;
	padding		: 0px;
}

table{
	font-size	: 13px;
}

table tr{
	vertical-align	: top;
}

em{
	font-style		: normal;
}

a[href^="tel:"] { cursor: default; text-decoration: none;}
a[href^="tel:"]:hover{	text-decoration: none;}


/*=================================================
 * CSS for PC
 * ================================================= */

body{
	overflow: hidden;
	min-width: 1200px;
}

/* body */

#body{
	width: 100%;
	text-align: left;
}


/* header */

header{
}

header h1{
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	line-height: 25px;
}

.header_a h1{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#ad_div{	display: none;}


/** nav **/

nav{
	display: block;
	width: 100%;
	min-width: 1200px;
	height: 80px;
	font-size: 0;
	line-height: 0;
	padding: 12px 0 0 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
header.fixed+nav{
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
}
header.fixed+nav+#topimg+#hinfo{
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 80px;
	left: 0;
}
header.fixed+nav+#topimg+#hinfo+main{	margin-top: 110px;}

nav ul{
	display: table;
	width: 100%;
	table-layout: fixed;
}

nav li{
	display: table-cell;
	vertical-align: middle;
}

nav li{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

nav li a{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 57px;
	font-size: 11px;
	line-height: 16px;
	padding-top: 7px;
	border-right-width: 1px;
	border-right-style: solid;
	-webkit-transition	: 0.2s ease-in-out;
	-moz-transition	: 0.2s ease-in-out;
	-o-transition	: 0.2s ease-in-out;
	transition		: 0.2s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
nav li:last-of-type a{
	border-right: none;
}

nav li a:hover{
	text-decoration: none;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

nav li a span{
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}
nav li a span:before{
	display:block;
	content:attr(title);
	position:absolute;
	top:0;
	left:0;
}

nav li a em{
	font-style: normal;
}

nav li a i{	display: none;}
nav > a.bt1{	display: none;}
nav .sp_nav_li{	display: none;}


/** hinfo **/

#hinfo{
	padding: 6px 0 4px 0;
	min-width: 1200px;
}
#hinfo br{	display: none;}

#hinfo p{
	position: relative;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	vertical-align: top;
	margin: 0 5px;
}
#hinfo .hopen{	padding-left: 24px;}
#hinfo .htel{	padding-left: 17px;}

#hinfo .hopen span{
	display: inline-block;
	vertical-align: top;
	color: #000;
	margin-left: 2px;
	margin-top: 0;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	border-width: 2px;
	border-style: solid;
	margin-right: 3px;
	border-radius: 50%;
	background: none;
}
#hinfo .hopen span:before{
	content: '';
	position: absolute;
	top: 8px;
	left: 6px;
	width: 6px;
	height: 2px;
	-webkit-transform-origin: 0% 0%;
	      transform-origin: 0% 0%;
}
#hinfo .hopen span:after{
	content: '';
	position: absolute;
	top: 3px;
	left: 6px;
	width: 2px;
	height: 6px;
	-webkit-transform-origin: 0% 0%;
	      transform-origin: 0% 0%;
}

#hinfo .htel:before{
	content: '';
	display: block;
	position: absolute;
    background:transparent;
    top: calc(50% - 9px);
    left: 0px;
    width:4px;
    height:8px;
    border-width:5px 0 5px 2px;
    border-style:solid;
    background:transparent;
    -webkit-border-top-left-radius:5px 7px;
    -webkit-border-bottom-left-radius:5px 7px;
    -moz-border-radius-topleft:5px 7px;
    -moz-border-radius-bottomleft:5px 7px;
    border-top-left-radius:5px 7px;
    border-bottom-left-radius:5px 7px;
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
    transform:rotate(-30deg);
}
#hinfo .htel:after{
	content: '';
	display: block;
	position: absolute;
    top: calc(50% - 0px);
    left: 5px;
    width:5px;
    height:5px;
    margin-top:-8px;
    border-width:4px 4px 0 0;
    border-style: double;
    background:transparent;
    /* css3 */
    -webkit-border-radius:0 15px 0 0;
    -moz-border-radius:0 15px 0 0;
    border-radius:0 15px 0 0;
    -webkit-transform:rotate(15deg);
    -moz-transform:rotate(15deg);
    -ms-transform:rotate(15deg);
    -o-transform:rotate(15deg);
    transform:rotate(15deg);
}

/** main **/

main{	display: block;}

main .pan{
	font-size: 10px;
	line-height: 15px;
	padding: 20px 0;
}

main .page_title{
	position: relative;
	display: block;
	height: 110px;
	font-size: 16px;
	line-height: 18px;
	padding: 0 0 0 0;
	margin-bottom: 2px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

main .page_title:after{
	content: '';
	width: 100%;
	height: 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	position:absolute;
	bottom:-2px;
	left:0;
}

main .page_title em{
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 50px;
	line-height: 50px;
}

main .title{
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	height: 60px;
	margin: 0 0 15px 0;
	padding-top: 14px;
	border-width: 1px;
	border-style: solid;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

main .title em{
	display: inline-block;
	vertical-align: top;
	font-size: 26px;
	line-height: 28px;
	position: relative;
}
main .title em:before{
	display:block;
	content:attr(title);
	position:absolute;
	top:0;
	left:0;
}

.s_title{
	font-size: 24px;
	font-weight: normal;
	line-height: 28px;
	font-weight: bold;
	text-align: center;
	height: 80px;
	padding-top: 20px;
	border-width: 1px;
	border-style: solid;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.s_title em{
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 11px;
	font-weight: normal;
	line-height: 16px;
}
.s_title:before{
	display:block;
	content:attr(title);
	position:absolute;
	top:0;
	left:0;
}
footer .s_title{	display: none;}

.ss_title{
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	padding: 7px;
}

.inpage_box{	padding: 40px 0;}
.inpage_box > .s_title,
.inpage_box > div{
	width: 1120px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#sp_shopinfo{	display: none;}


/** footer **/

footer{
	clear: left;
	width: 100%;
	text-align: center;
	font-style: normal;
}

#footer{
	width: 100%;
	padding: 0 0 30px 0;
	position: relative;
}

#textlink{
	font-size: 11px;
	line-height: 20px;
	padding: 15px 0;
}

#textlink a i{ display: none;}


#textlink p{
	position: relative;
	z-index: 10;
}
#textlink p br{	display: none;}

#up{
	padding: 20px 0;
}

#up a{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 50px;
	font-size: 18px;
	line-height: 20px;
	border-width: 2px;
	border-style: solid;
	padding: 20px 0 0 0;
	-webkit-transition	: 0.2s ease-in-out;
	-moz-transition	: 0.2s ease-in-out;
	-o-transition	: 0.2s ease-in-out;
	transition		: 0.2s ease-in-out;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#up a:after{
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -4px;
	width: 6px;
	height: 6px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#up a:hover{
	text-decoration: none;
}

#finfo{
	font-size: 12px;
	line-height: 18px;
}

#finfo h2{
	font-size: 12px;
	font-weight: normal;
}

#ad{
	font-size: 10px;
	line-height: 16px;
	padding: 15px 0;
}

#ad br{	display: none;}

#copy{
	font-size: 10px;
	line-height: 14px;
}


/** color **/

.sat{	color	: #0066ff;}
.sun{	color	: #ff0000;}
.red{	color	: #ff0000;}
.tel{	color	: #6699ff;}
.on{	color	: #ff3333;}
.off{	color	: #999999;}
.next{	color	: #6173a1;}


/** rollover **/

.fade{
	display: inline-block;
	padding: 0;
	font-size: 0;
	line-height: 0;
}

.hover,
.fade input{
	-webkit-transition	: 0.3s ease-in-out;
	-moz-transition	: 0.3s ease-in-out;
	-o-transition	: 0.3s ease-in-out;
	transition		: 0.3s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

.hover:hover,
.fade input:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}


/***** none *****/
#topimg,
#navToggle{	display: none;}
#page-top{
	position: absolute;
	top: -9999px;
}


/***************************************************
ANIMATION CSS
***************************************************/


/** BASE **/
.delighter{
	opacity: 0;
	filter: alpha(opacity=0);
}

/** START **/
.delighter.started{
	-webkit-transition	: 0.5s ease-in-out;
	-moz-transition	: 0.5s ease-in-out;
	-o-transition	: 0.5s ease-in-out;
	transition		: 0.5s ease-in-out;
	opacity: 1;
	filter: alpha(opacity=100);
}

/** END **/
.delighter.started.ended{
	opacity: 1;
	filter: alpha(opacity=100);
}


/*=================================================
 * CSS for SP
 * ================================================= */

@media screen and (max-width: 650px) {
	body{
		width: auto;
		min-width: 0;
		padding-top: 55px;}
	a:hover{	text-decoration: none;}
	a[href^="tel:"] { cursor: pointer;}
	a:hover{	text-decoration: none;}
	body::before{
		content:"";
		display:block;
		position:fixed;
		top:0;
		left:0;
		z-index:-1;
		width:100%;
		height:100vh;
	}

	/** header **/
	header{
		width: 100%;
		height: 55px !important;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}
	header h1{
		height: 55px !important;
		font-size: 0;
		line-height: 0;
		text-indent: -9999px;
	}
	#mtop a{
		position: absolute;
		top: 0px;
		left: 0px;
		display:block;
		width: 150px;
		height: 55px;
		text-indent: -9999px;
	}
	#navToggle{	display: block;}
	#navToggle button{
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		display:block;
		width: 40px;
		height: 35px;/** header,nav,SAME HEIGHT **/
		text-indent: -9999px;
		border-width: 1px;
		border-style: solid;
		border-radius: 1px;
		background: none;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	#navToggle button span,
	#navToggle button span:before,
	#navToggle button span:after{
		display: inline-block;
		width: 22px;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		-webkit-transition	: 0.2s ease-in-out;
		-moz-transition	: 0.2s ease-in-out;
		-o-transition	: 0.2s ease-in-out;
		transition		: 0.2s ease-in-out;
	}
	#navToggle button span{
		position: absolute;
		top: 9px;
		right: 8px;
	}
	#navToggle button span:before,
	#navToggle button span:after{
		content: "";
		display: block;
		clear: both;
	}
	#navToggle button span:before{
		position: absolute;
		top: 6px;
		right: 0;
	}
	#navToggle button span:after{
		position: absolute;
		top: 12px;
		right: 0;
	}
	#navToggle .closebt span{
		position: absolute;
		top: 15px;
		right: 8px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
	}
	#navToggle .closebt span:before{
		content: "";
		clear: both;
		position: absolute;
		top: 0px;
		right: 0px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		opacity:0;
	}
	#navToggle .closebt span:after{
		content: "";
		display: block;
		clear: both;
		position: absolute;
		top: 0px;
		left: 0px;
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
	}
	nav{
		width: 190px;
		min-width: 190px;
		height: 100vh;
		text-align: left;
		font-size: 0;
		line-height: 0;
		position: fixed;
		left: auto;
		right: -200px !important;
		top: 55px !important;/** header,nav,SAME HEIGHT **/
		z-index: 998;
		overflow: hidden;
		-webkit-transition	: 0.2s ease-in-out;
		-moz-transition	: 0.2s ease-in-out;
		-o-transition	: 0.2s ease-in-out;
		transition		: 0.2s ease-in-out;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		padding: 0 0 55px 0;
		border: none !important;
		box-shadow:none !important;
		-moz-box-shadow:none !important;
		-webkit-box-shadow:none !important;
	}
	header.ad_on+nav{ top: 90px !important;}
	header.ad_on+nav+#topimg{ margin-top: 40px;}
	header.fixed+nav+#topimg+#hinfo{	position: static;}
	header.fixed+nav+#topimg+#hinfo+main{	margin-top: 0;}
	nav.opennav{
		width: 190px;
		height: 100vh;
		overflow: visible;
		right: 0 !important;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	nav.opennav::-webkit-scrollbar{
	  display: none;
	}
	nav{
		padding: 0 10px 10px 10px;
	}
	nav ul{
		padding-bottom: 140px;
	}
	nav li{	display: block;}
	nav li.sp_nav_li{	display: block;}
	nav li .tx_n1:before{	display: none;}
	nav li a{
		position: relative;
		display: block;
		width: auto;
		height: auto;
		font-size: 13px;
		line-height: 20px;
		text-decoration: none;
		margin: 0;
		padding: 15px 0 14px 2px;
		border-right: none;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
	nav li a:after{
		content: '';
		position: absolute;
		width: 5px;
		height: 5px;
		position: absolute;
		top: calc(50% - 3px);
		right: 10px;
		border-bottom: solid 1px currentColor;
		border-right: solid 1px currentColor;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	nav > a.bt1 , nav > a.bt1:hover{
		display: block;
		font-size: 13px;
		margin: 10px 0 0 0;
		line-height: 15px;
		border: none;
	}
	nav li a em,
	nav li a br{	display: none;}
	nav li a span{
		font-size: 13px;
		line-height: 20px;
		font-family		: Meiryo,'Hiragino Kaku Gothic ProN','Hiragino Sans',sans-serif !important;
	}
	nav li a i{
		display: inline;
		font-style: normal;
	}
	header.fixed+nav{
		width: 190px;
		position: fixed;
		z-index: 1000;
		top: 55px;
		left: auto;
	}
	header.fixed+nav+#topimg+#hinfo{
		width: auto;
		margin-top: 0;
	}

	/** ad_div **/
	#ad_div{
		display: block;
	}
	#ad_div a{
		display: block;
		width: 100%;
		font-size: 4.5vw;
		font-weight: bold;
		line-height: 38px;
		text-align: center;
		border-bottom: 2px;
		border-bottom-style: solid;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
	}
	#ad_div span{}
	#ad_div span{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 8px;
		height: 9px;
		margin: 12px 5px 0 0;
		border: solid 1px currentColor;
		background-color: currentColor;
		border-radius: 5px 5px 0 0;
	}
	#ad_div span:before{
		content: '';
		position: absolute;
		bottom: -5px;
		left: 2px;
		width: 2px;
		height: 1px;
		border-radius: 50%;
		border: solid 1px currentColor;
		background-color: currentColor;
	}
	#ad_div span:after{
		content: '';
		position: absolute;
		bottom: -2px;
		left: -3px;
		width: 14px;
		height: 0px;
		border-top: solid 1px currentColor;
		border-bottom: solid 1px white;
	}
	header.ad_on{	top: 40px;}

	/** hinfo **/
	#hinfo{
		position: static;
		min-width: auto;
		padding: 5px 5px 5px 5px;
	}
	#hinfo br{	display: inline;}
	#hinfo .hopen{
		font-size: 12px;
		line-height: 14px;
		padding-left: 20px;
		margin: 0;
	}
	#hinfo .htel{
		font-size: 14px;
		line-height: 20px;
		padding-left: 18px;
	}
	#hinfo .hopen span{
		width: 12px;
		height: 12px;
		border-width: 1px;
		border-radius: 50%;
		background: none;
	}
	#hinfo .hopen span:before{
		content: '';
		position: absolute;
		top: 7px;
		left: 5px;
		width: 5px;
		height: 1px;
		-webkit-transform-origin: 0% 0%;
		      transform-origin: 0% 0%;
	}
	#hinfo .hopen span:after{
		content: '';
		position: absolute;
		top: 2px;
		left: 5px;
		width: 1px;
		height: 5px;
		-webkit-transform-origin: 0% 0%;
		      transform-origin: 0% 0%;
	}

	/** main **/
	main{
		text-align: left;
	}
	#topimg{
		display: block;
		width: 100%;
		position: relative;
		margin: 0 0 0 0;
	}
	#topimg h2{
		font-size: 0;
		line-height: 0;
		text-indent: -9999px;
	}
	.header_a+nav+#topimg{	display: none;}
	main .pt{	text-align: center;}
	main .pan{
		font-size: 10px;
		line-height: 14px;
		padding: 10px;
	}
	main .page_title{
		height: 85px;
		font-size: 13px;
		line-height: 16px;
		padding: 5px 0 0 0;
	}
	main .page_title em{
		font-size: 38px;
		line-height: 38px;
	}
	main .title{
		font-size: 11px;
		line-height: 12px;
		text-align: center;
		height: 60px;
		margin: 0 0 20px 0;
		padding-top: 12px;
		border-left: none;
		border-right: none;
		border-top-width: 1px;
		border-bottom-width: 1px;
		border-top-style: solid;
		border-bottom-style: solid;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	main .title em{
		font-size: 22px;
		line-height: 24px;
		position: relative;
	}
	.s_title{
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		height: 60px;
		padding-top: 14px;
		border-left: none;
		border-right: none;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.s_title em{
		display: inline-block;
		vertical-align: top;
		font-weight: normal;
	}
	footer .s_title{
		display: block;
		font-size: 11px;
		font-weight: normal;
		line-height: 12px;
		text-align: center;
		height: 60px;
		padding-top: 12px;
		border-left: none;
		border-right: none;
	}
	footer .s_title em{
		font-size: 22px;
		font-weight: normal;
		line-height: 24px;
	}
	.ss_title{
		font-size: 16px;
	}
	#cnt{
		display: block;
		width: auto;
		background: none !important;
		margin: 0;
		padding-bottom: 10px;
	}
	.inpage_box{	padding: 0;}
	.inpage_box > .s_title{	width: auto;}
	.inpage_box > div{
		width: auto;
		margin: 0 0 10px 0 !important;
	}

	/** sp_shopinfo ***/
	#sp_shopinfo{	display: block;}
	#sp_shopinfo .sibt{
		font-size: 0;
		line-height: 0;
		margin: 50px 0 0 0;
		padding: 10px 10px 0 10px;
		border-top-width: 5px;
		border-top-style: solid;
	}
	#sp_shopinfo .sibt a{
		cursor: pointer !important;
		-webkit-transition	: 0.2s ease-in-out;
		-moz-transition	: 0.2s ease-in-out;
		-o-transition	: 0.2s ease-in-out;
		transition		: 0.2s ease-in-out;
	}
	#sp_shopinfo .sibt a:hover{
		text-decoration: none;
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
	#sp_shopinfo .sibt .stel,
	#sp_shopinfo .sibt .sline{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: calc(100% / 3 - 20px);
		height: 70px;
		font-size: 13px;
		line-height: 14px;
		margin: 0 10px;
		padding-left: 50px;
		border-width: 1px;
		border-style: solid;
		border-radius: 5px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	#sp_shopinfo .sibt .stel{	padding-top: 13px;}
	#sp_shopinfo .sibt .stel em{
		font-size: 26px;
		font-weight: bold;
		line-height: 28px;
	}
	#sp_shopinfo .sibt .stel:before{
		content: '';
		display: block;
		position: absolute;
	    background:transparent;
	    top: calc(50% - 16px);
	    left: 20px;
	    width:8px;
	    height:13px;
	    border-width:10px 0 10px 3px;
	    border-style:solid;
	    background:transparent;
	    -webkit-border-top-left-radius:10px 12px;
	    -webkit-border-bottom-left-radius:10px 12px;
	    -moz-border-radius-topleft:10px 12px;
	    -moz-border-radius-bottomleft:10px 12px;
	    border-top-left-radius:10px 12px;
	    border-bottom-left-radius:10px 12px;
	    -webkit-transform:rotate(-30deg);
	    -moz-transform:rotate(-30deg);
	    -ms-transform:rotate(-30deg);
	    -o-transform:rotate(-30deg);
	    transform:rotate(-30deg);
	}
	#sp_shopinfo .sibt .stel:after{
		content: '';
		display: block;
		position: absolute;
	    top: calc(50% - 5px);
	    left: 30px;
	    width:10px;
	    height:10px;
	    margin-top:-8px;
	    border-width:4px 4px 0 0;
	    border-style: double;
	    background:transparent;
	    /* css3 */
	    -webkit-border-radius:0 15px 0 0;
	    -moz-border-radius:0 15px 0 0;
	    border-radius:0 15px 0 0;
	    -webkit-transform:rotate(15deg);
	    -moz-transform:rotate(15deg);
	    -ms-transform:rotate(15deg);
	    -o-transform:rotate(15deg);
	    transform:rotate(15deg);
	}
	#sp_shopinfo .sibt .sline{ padding-top: 15px;}
	#sp_shopinfo .sibt .sline em{
		font-size: 21px;
		font-weight: bold;
		line-height: 21px;
	}
	#sp_shopinfo .sibt .sline span{
		position: absolute;
		top: calc(50% - 15px);
		left: 30px;
		width: 36px;
		height: 25px;
		border: solid 1px currentColor;
		background-color: currentColor;
		border-radius: 3px;
	}
	#sp_shopinfo .sibt .sline span:before{
		content: '';
		position: absolute;
		bottom: -5px;
		left: 9px;
		width: 6px;
		height: 6px;
		background-color: currentColor;
		border-bottom: solid 1px currentColor;
		border-right: solid 1px currentColor;
		-webkit-transform: rotate(45deg);
		      transform: rotate(45deg);
	}
	#sp_shopinfo .sibt .stel,
	#sp_shopinfo .sibt .sline{
		position: relative;
		display: block;
		width: auto;
		text-align: center;
		margin: 0 0 10px 0;
		padding-left: 40px;
	}
	#sp_shopinfo .sibt .stel:last-child,
	#sp_shopinfo .sibt .sline:last-child{	margin-bottom: 0;}
	#sp_shopinfo .sibt .sline{	padding-left: 45px;}
	#sp_shopinfo .sibt .sline span{
		left: 8px;
	}
	#sp_shopinfo .sibt .sline span:before {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 9px;
		width: 6px;
		height: 6px;
		background-color: currentColor;
		border-bottom: solid 1px currentColor;
		border-right: solid 1px currentColor;
		-webkit-transform: rotate(45deg);
		      transform: rotate(45deg);
	}
	#sp_shopinfo .sibt .sline i{
		display: inline-block;
		vertical-align: top;
		font-style: normal;
	}
	#sp_shopinfo .sibt .sline i:nth-child(2){
		font-size: 15px;
		font-weight: bold;
		padding-top: 10px;
	}

	/** page-top **/
	#page-top{
		display: none;
		width: 100%;
		vertical-align: top;
		font-size: 0;
		line-height: 0;
		text-align: right;
		position: fixed;
		z-index: 1000;
		top: auto;
		right: 0;
		bottom: 0;
	}
	.spft{
		width: 100%;
		display: table;
		font-size: 0;
		line-height: 0;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 6px 0;
		padding: 10px 4px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.spft_in{
		display: table-cell;
		vertical-align: middle;
		height: 60px;
		font-size: 3vw;
		font-weight: bold;
		line-height: 1.1;
		text-align: center;
		border-radius: 3px;
	}
	.spft_in:last-of-type{
		width: 60px;
	}
	.spft_in:last-of-type em{	font-size: 11px;}
	.spft_in em{	font-size: 3vw;}
	.spft_in .ftel{
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 0 0 16px;
	}
	.spft_in .ftel:before{
		content: '';
		display: block;
		position: absolute;
	    background:transparent;
	    top: calc(50% - 10px);
	    left: 0px;
	    width:4px;
	    height:8px;
	    border-width:5px 0 5px 2px;
	    border-style:solid;
	    background:transparent;
	    -webkit-border-top-left-radius:5px 7px;
	    -webkit-border-bottom-left-radius:5px 7px;
	    -moz-border-radius-topleft:5px 7px;
	    -moz-border-radius-bottomleft:5px 7px;
	    border-top-left-radius:5px 7px;
	    border-bottom-left-radius:5px 7px;
	    -webkit-transform:rotate(-30deg);
	    -moz-transform:rotate(-30deg);
	    -ms-transform:rotate(-30deg);
	    -o-transform:rotate(-30deg);
	    transform:rotate(-30deg);
	}
	.spft_in .ftel:after{
		content: '';
		display: block;
		position: absolute;
	    top: calc(50% - 1px);
	    left: 5px;
	    width:5px;
	    height:5px;
	    margin-top:-8px;
	    border-width:4px 4px 0 0;
	    border-style: double;
	    background:transparent;
	    /* css3 */
	    -webkit-border-radius:0 15px 0 0;
	    -moz-border-radius:0 15px 0 0;
	    border-radius:0 15px 0 0;
	    -webkit-transform:rotate(15deg);
	    -moz-transform:rotate(15deg);
	    -ms-transform:rotate(15deg);
	    -o-transform:rotate(15deg);
	    transform:rotate(15deg);
	}
	.spft_in.spfttel1{ font-size: 20px;}
	.spft_in.spfttel1 em{ font-size: 14px;}
	.spft_in.spfttel1 .ftel{ padding: 0 0 0 32px; margin-bottom: 5px;}
	.spft_in.spfttel1 .ftel:after{
		top: calc(50% - 3px);
		width:9px;
		height:9px;
		left:15px;
		margin-top:-5px;
		border-width:4px 4px 0 0;
	}
	.spft_in.spfttel1 .ftel:before{
		top: calc(50% - 13px);
		left: 4px; 
		width: 8px;
		height: 16px;
		border-width:9px 0 9px 3px;
		-webkit-border-top-left-radius:10px 12px;
		-webkit-border-bottom-left-radius:10px 12px;
		-moz-border-radius-topleft:10px 12px;
		-moz-border-radius-bottomleft:10px 12px;
		border-top-left-radius:10px 12px;
		border-bottom-left-radius:10px 12px;
	}
	.spft_in .fup{
		position: relative;
		padding: 12px 0 0 0;
	}
	.spft_in .fup:after{
		content: '';
		position: absolute;
		width: 6px;
		height: 6px;
		position: absolute;
		top: 2px;
		left: calc(50% - 3px);
		border-top: solid 1px currentColor;
		border-right: solid 1px currentColor;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#move-page-top{
		text-decoration: none;
		display: block;
		cursor: pointer;
	}

	/** footer **/
	footer{
		width: 100%;
		height: auto;
	}
	#footer{
		width: auto;
		margin: 0;
		padding: 0 0 95px 0;
	}
	#textlink{
		display: block;
		text-align: left;
		padding: 0;
		border-bottom-width: 5px;
		border-bottom-style: solid;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	#textlink a{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		font-size: 13px;
		line-height: 20px;
		text-align: left;
		padding: 15px 10px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	#textlink a:nth-of-type(odd){
		border-right-width: 1px;
		border-right-style: solid;
	}
	#textlink a:nth-of-type(2n+1):last-of-type {
		width: 100%;
		border-right: none;
	}
	#textlink a:after{
		content: '';
		position: absolute;
		width: 5px;
		height: 5px;
		position: absolute;
		top: calc(50% - 3px);
		right: 10px;
		border-bottom: solid 1px currentColor;
		border-right: solid 1px currentColor;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#textlink span{	display: none;}
	#textlink a i{
		display: inline;
		font-style: normal;
	}
	#up{	padding: 10px 0;}
	#up a{
		width: 180px;
		height: 40px;
		font-size: 14px;
		line-height: 18px;
		border-width: 2px;
		border-style: solid;
		padding: 15px 0 0 0;
	}
	#finfo{
		font-size: 11px;
		line-height: 16px;
	}
	#finfo p:nth-of-type(2){	display: none;}

	#finfo h2{
		font-size: 12px;
		font-weight: normal;
	}
	#ad{
		font-size: 10px;
		line-height: 16px;
		padding: 10px 0;
	}
	#ad br{	display: inline;}
	#copy{
		font-size: 10px;
		line-height: 16px;
	}

	/***** none *****/
	img.lazy{
		-webkit-transition	: none !important;
		-moz-transition		: none !important;
		-o-transition		: none !important;
		transition		: none !important;
	}
}
