==
<nav class="bg_u1 bd_u1 in_u1">
	<ul>
<li><a href="https://www.sakazakiya.net/top/" title="トップページ" class="tx_o1 bd_n1"><em><span title="TOP PAGE" class="font1 tx_n1">TOP PAGE</span></em><br>トップページ</a></li>
<li><a href="https://www.sakazakiya.net/staff/" title="在籍一覧" class="tx_o1 bd_n1"><em><span title="CAST" class="font1 tx_n1">CAST</span></em><br>在籍一覧<i>(7名)</i></a></li>
<li><a href="{{'schedule'|app}}" title="スケジュール" class="tx_o1 bd_n1"><em><span title="SCHEDULE" class="font1 tx_n1">SCHEDULE</span></em><br>スケジュール</a></li>
<li><a href="{{'system'|app}}/" title="料金システム" class="tx_o1 bd_n1"><em><span title="SYSTEM" class="font1 tx_n1">SYSTEM</span></em><br>料金システム</a></li>
<li><a href="{{'access'|app}}/" title="アクセスマップ" class="tx_o1 bd_n1"><em><span title="ACCESS" class="font1 tx_n1">ACCESS</span></em><br>アクセスマップ</a></li>
<!--<li><a href="https://www.girlsheaven-job.net/osaka/ma-49/sa-470/sakazakiya/?of=y" target="_blank" title="求人" class="tx_o1 bd_n1"><em><span title="RECRUIT" class="font1 tx_n1">RECRUIT</span></em><br>求人</a></li>-->
	</ul>
</nav>