==
<meta charset="UTF-8">
	<meta name="author" content="https://web.fucolle.com">
	<meta name="Keywords" content="デリヘル,中華,大阪,日本橋,風俗,アジアン,莞式,秘伝,美女">
	<meta name="Description" content="大阪日本橋発・超厳選華流美女の秘伝サービスはこちら！">
	<title>{{system.address}} {{system.name}}</title>
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="canonical" href="http://www.sakuranoya.net/">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet" type="text/css">