
/*=================================================
 * CSS for PC
 * ================================================= */

#cnt{
	display: block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


/** pbox **/

.pbox{
	text-align: left;
}

.pbox:last-of-type{	margin-bottom: 0;}

.pbox_in{
	border-width: 1px;
	border-style: solid;
	padding: 20px;
}


/** prof_top **/

.prof_top{
	display: table;
	width: 100%;
	font-size: 0;
	line-height: 0;
}

.prof_top_l,
.prof_top_r{
	display: table-cell;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.prof_top_l{
	width: 435px;
	padding-right: 20px;
}

.prof_top_r{}


.prof_top_l .icon{
	display: inline-block;
	vertical-align: top;
	width: 380px;
	font-size: 13px;
	font-weight: normal;
	line-height: 25px;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	z-index: 2;
	top: 510px;
	left: 25px;
}

/**	prof slider start **/

#sliderContainer{
	position: relative;
	font-size: 0;
	line-height: 0;
	padding: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#flame{
	width: 390px;
	height: 520px;
	border-width: 2px;
	border-style: solid;
	position: relative;
	overflow: hidden;
}

ul#slider{
	margin-left: 0;
	width: 1950px;
	height: 520px;
	overflow: hidden;
	position: relative;
}

ul#slider li{
	float: left;
	width: 390px;
	position: absolute;
}

ul#slider li img{
	width: 390px;
	height: 520px;
}

ul#slideIcon{
	width: 390px;
	height: 0;
}

ul#slideIcon li{
	display: inline-block;
	width: 25px; /* no change */
	height: 50px; /* no change */
	position: absolute;
	font-size: 11px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

ul#slideIcon li#prev{
	left: 0;
	top: calc(50% - 25px);
	border-radius: 0 5px 5px 0;
}

ul#slideIcon li#next{
	right: 0;
	top: calc(50% - 25px);
	border-radius: 5px 0 0 5px;
}


/** name **/

.name_bg{
	margin: 0 0 20px 0;
	padding: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.name{
	text-align: center;
	border-width: 1px;
	border-style: solid;
	padding: 0 0 15px 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.name h2{
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	padding: 11px 0 9px 0;
}

.name h2 .icon{
	display: inline-block;
	vertical-align: top;
	vertical-align: middle;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	margin-right: 10px;
	padding: 0 10px;
}

.name p{
	font-size: 13px;
	line-height: 25px;
	border-radius: 2px;
	margin: 0 15px;
}

.pbt{
	font-size: 0;
	line-height: 0;
	text-align: center;
	padding: 10px 0 0 0;
}

.pbt .bt1{
	display: inline-block;
	vertical-align: top;
	width: 260px;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
	padding: 0;
	border-radius: 15px;
}

.pbt span.bt:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}


/** op **/

.op_bg{
	margin: 0 0 20px 0;
	padding: 19px 18px 14px 18px;
}

.op{
	font-size: 0;
	line-height: 0;
	text-align: left;
}

.op li{
	display: inline-block;
	vertical-align: top;
	width: calc(100% / 4 - 4px);
	font-size: 13px;
	line-height: 22px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	margin: 0 2px 5px 2px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.op li.ng{
	color: rgba(120,120,120,0.6);
	border-color: rgba(120,120,120,0.0);
	background-color: rgba(120,120,120,0.5);
}


/** sche **/

.sche{
}

.sche ul{
	font-size: 0;
	line-height: 0;
}

.sche li{
	display: inline-block;
	vertical-align: top;
	width: calc(100% / 7);
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.sche li:last-of-type{
	border-right-width: 1px;
	border-right-style: solid;
}

.sche .sche_th{
	font-size: 12px;
	line-height: 18px;
	padding: 10px 0;
}

.sche .sche_td{
	height: 88px;
	font-size: 13px;
	line-height: 14px;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


/** data **/

.data_bg{
	border-width: 1px;
	border-style: solid;
	padding: 40px 40px 40px 40px;
}

.data{
	display: table;
	width: 100%;
	font-size: 0;
	line-height: 0;
}

.data_l,
.data_r{
	display: table-cell;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.data_l{
	width: 400px;
	padding-right: 20px;
}

.data_l table{
	width: 100%;
	font-size: 13px;
	line-height: 16px;
}

.data_l tr{	vertical-align: middle;}
.data_l th{
	width: 120px;
	font-weight: normal;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding: 12px 0;
}

.data_l td{
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding: 12px 0;
}

.data_r{}

.data_r p{
	font-size: 14px;
	line-height: 26px;
	text-align: left;
}


/** widget **/

#pc_wid{	margin-top: 20px;}
#sp_wid{	display: none;}

.wid{
	font-size: 0;
	line-height: 0;
	border-width: 1px;
	border-style: solid;
}

.wid_t{
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	padding: 7px 10px;
}

.wid_in{
	font-size: 12px;
	line-height: 16px;
}

.wid_in iframe{ vertical-align: bottom;} 


/*=================================================
 * CSS for SP
 * ================================================= */

@media screen and (max-width: 650px) {
	#prof{	width: auto;}

	/** pbox **/
	.pbox{
		margin: 0 0 10px 0;
		padding: 0;
		text-align: left;
		border-right: none;
		border-left: none;
	}
	.pbox_in{
		border-left: none;
		border-right: none;
		padding: 10px 0 0 0;
	}

	/** prof_top **/
	.prof_top,
	.prof_top_l,
	.prof_top_r{
		width: auto;
		display: block;
		padding: 0;
	}

	/**	prof slider start **/
	#sliderContainer{
		display: block;
		width: auto;
		height: auto;
		text-align: center;
		margin: 0;
		padding: 10px 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#flame{
		position: static;
		width: 260px;
		height: 347px;
		margin: 0 auto;
	}
	ul#slider{
		width: 1000px;
		height: 347px;
	}
	ul#slider li{	width: 260px;}
	ul#slider li img{
		width: 260px;
		height: 347px;
	}
	ul#slideIcon{
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	ul#slideIcon li{
		display: inline-block;
		width: 20px; /* no change */
		height: 50px; /* no change */
		position: absolute;
		font-size: 11px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		cursor: pointer;
	}

	/** name **/
	.name_bg{
		border-left: none;
		border-right: none;
		margin: 0 0 10px 0;
		padding: 5px 0;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.name{
		border-left: none;
		border-right: none;
		padding: 0 0 10px 0;
	}
	.name h2{
		font-size: 20px;
		line-height: 20px;
		padding: 12px 0 5px 0;
	}
	.name h2 .icon{
		font-size: 11px;
		line-height: 16px;
		margin-right: 5px;
		padding: 0 5px;
	}
	.name p{
		font-size: 11px;
		line-height: 22px;
		margin: 0 10px;
	}
	.pbt{	padding: 10px 0 5px 0;}

	/** op **/
	.op_bg{
		margin: 0 0 10px 0;
		padding: 10px 8px 4px 8px;
	}
	.op li{
		width: calc(100% / 2 - 4px);
	}

	/** sche **/
	.sche{
		margin: 0 0 10px 0;
		padding: 0 0 0 0;
	}
	.sche ul{	padding: 0 10px;}
	.sche li{
		display: table;
		width: 100%;
		font-size: 0;
		line-height: 0;
		border-right-width: 1px;
		border-right-style: solid;
		margin: 0 0 -1px 0;
	}
	.sche li:last-of-type{	width: 100%;}
	.sche li br{	display: none;}
	.sche .sche_th,
	.sche .sche_td{
		display: table-cell;
		vertical-align: middle;
		height: 40px;
		font-size: 13px;
		line-height: 14px;
	}
	.sche .sche_th{
		width: 120px;
		padding: 0;
		border-bottom: none;
	}
	.sche .sche_td{
	}

	/** data **/
	.data_bg{
		border-right: none;
		border-left: none;
		padding: 0;
	}
	.data,
	.data_l,
	.data_r{
		display: block;
		width: auto;
	}
	.data_l{	padding: 0 10px;}
	.data_l th{	width: 100px;}
	.data_r{	padding: 10px;}
	.data_r p{
		font-size: 14px;
		line-height: 22px;
		text-align: left;
	}

	/** widget **/
	#pc_wid{	display: none;}
	#sp_wid{
		display: block;
		margin: 10px 0;
		padding: 0;
		border: none;
	}
	.wid{
		border-left: none;
		border-right: none;
	}
	.wid_t{
	}
	.wid_in{
	}
}